<!DOCTYPE html>
<html>
<body>

<h1>My home Page</h1>
<p>My home paragraph.</p>

  <%= puts Time.now %>
  <p><%= Time.now.strftime("%d/%m/%Y %H:%M") %></p>

  <%= link_to image_tag('tux.png') %>
  <p></p>
  <tr><%= link_to 'Alpha blog', articles_path   %></tr>
  <tr><%= link_to 'About', about_path   %></tr>

</body>
</html>